################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1/bin
/Lab1/obj
/Lab1/.vs
/.vs
/bin
/obj

/Lab1Tests/bin
/LLab1Testsab1/obj
/LLab1Testsab1/.vs



/Lab1/obj/Debug/net8.0/Lab1.assets.cache
